[submodule "SmartRender"]
	path = SmartRender
	url = https://github.com/Tommsy64/SmartRender.git
[submodule "PlayerAPI"]
	path = PlayerAPI
	url = https://github.com/Tommsy64/PlayerAPI.git
[submodule "RenderPlayerAPI"]
	path = RenderPlayerAPI
	url = https://github.com/Tommsy64/RenderPlayerAPI.git
