[submodule "SmartRender"]
	path = SmartRender
	url = https://github.com/doch2/SmartRender.git
[submodule "PlayerAPI"]
	path = PlayerAPI
	url = https://github.com/doch2/PlayerAPI.git
[submodule "RenderPlayerAPI"]
	path = RenderPlayerAPI
	url = https://github.com/doch2/RenderPlayerAPI.git
